body {
	font-family: "Arial", Helvetica, sans-serif;
	margin: 0;
}

.tab {
	margin-left: 20px;
}

.output .a:visited {
	color: red;
}

.button {
	background-color: #3f51b5;
	text-decoration: none;
	color: #ffffff;
	border: none;
	padding: 4px 8px;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ribbon {
	position: fixed;
	top: 0;
	background-color: rgba(63,81,181, 0.9);
	color: #ffffff;
	font-weight: bold;
	height: 50px;
	width: 100%;
	line-height: 50px;
	z-index: 65536;
	white-space: nowrap;
}

.art {
	margin-left: 20px;
	margin-right: 10px;
	font-size: 150%;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	cursor: default;
	user-select: none;
}

.headText {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.navdiv{
	float: right;
	display: inline-block;
	line-height: normal;
	text-align: right;
	margin-top: 15px;
	margin-right: 20px;
}

.navLink {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: #ffffff;
	text-decoration: none;
}

.container {
	margin-top: 60px;
}

.code {
	background-color: #eff0f1;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 8px;
	border-left: thick solid #3f51b5;
}

.question {
	font-weight: bold;
	font-size: 110%;
	padding: 8px;
}

.card {
	/*background-color: #242729;*/
	width: 700px;
	margin: 15px auto;
	padding: 10px;
	align-self: center;
	box-shadow: 1px 1px 3px #888888;
}

.output {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 8px;
}

.acx {
	z-index: -1;
}
